# Node.js 의존성
node_modules/

# 빌드 결과물
dist/
build/
.firebase/

# 환경 변수
.env
.env.*  # 예: .env.local, .env.production

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 캐시
.vite/
.cache/
*.tsbuildinfo

# IDE 및 에디터 설정
.vscode/
.idea/
.DS_Store

# OS별 무시 파일
Thumbs.db
